@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: georgia;
    background: url('../pics/bg-body.png') #fff;
}

.wrapper {
    max-width: 1200px;
    margin: 40px auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    border: 2px dashed black;
    background-color: white;
    color: green;
    text-align: center;
    padding: 40px 30px;
}

nav {
    background-color: black;
    border: 1px dashed black;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;

}

nav ul {
    list-style: none;
    background: url("../pics/bg-menu.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a:hover {
    background: lightblue;
}

nav a {
   color: white;
   text-decoration: none;
   padding: 20px;
   border-right: 1px dashed white;
   border-left: 1px dashed white;
   display: block;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

aside {
    flex: 25%;
    order: 1;
}

main {
    order: 2;
    flex: 75%;
    flex-flow: column wrap;
}

.recipes {
    flex-flow: row wrap;
    padding: 10px;
}

.recipes-box{
    flex-grow: 1;
    width: 300px;
    margin: 10px;
    background: white;
}

.recipes-box img {
    width: 100%;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li {
    padding: 20px 0;
    border-bottom: 1px dashed gray;
}

.page {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.pagination {
    flex-flow: row wrap;
}

.pagination a {
    text-decoration: none;
    color: black;
    background: white;
    display: inline-block;
}

.pagination a:hover {
    color: white;
    background: black;
}

.content, .recipes, .pagination, nav ul, main {
    display: flex;
}